@charset "UTF-8";
/* CSS reset*/
html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,dl,dt,dd,ul,ol,li,nav,footer,header,
form,input,optgroup,select,textarea,video,audio,iframe,button,pre,code,blockquote,q,
fieldset,legend,caption,object,article,aside,details,figcaption,figure,menu,section {margin:0;padding:0;border:0;font-size:100%;}
body,button,input,optgroup,select,textarea {font:14px/1.4286 "microsoft yahei",simsun,tahoma,arial,sans-serif;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:500;}
a,ins {text-decoration:none;}
a {background-color:transparent;}
a:active,a:hover {outline-width:0;}
audio,canvas,video,progress {display:inline-block;*display:inline;*zoom:1;}
article,aside,details,figcaption,figure,footer,header,menu,nav,section,iframe,main {display:block;}
summary {display:list-item;}
template,[hidden] {display:none;}
svg:not(:root) {overflow:hidden;}
abbr,acronym {border:0;font-variant:normal;}
del {text-decoration:line-through;}
caption,th {text-align:left;}
mark {background-color:#ff0;color:#000;}
small {font-size:80%;}
sub,sup {font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
img {vertical-align:middle;border-style:none;}
ol,ul {list-style:none;}
table {border-collapse:collapse;border-spacing:0;}
table,tbody,tfoot,thead,tr,th,td {padding:0;}
address,caption,cite,code,dfn,th,var,em,i,time {font-style:normal;font-weight:500;}
b,strong {font-weight:inherit;font-weight:bolder;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:"";content:none;}
hr {display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
button,input,select,textarea,:focus {outline:none;}
textarea {overflow:auto;}
button,input {overflow:visible;}
button,select {text-transform:none;}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {border-style:none;padding:0;}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring {outline:1px dotted ButtonText;}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {height:auto;}
[type="search"] {-webkit-appearance:textfield;outline-offset:-2px;}
[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
body {word-wrap:break-word;}

/* -wap*/
a {-webkit-text-decoration-skip:objects;}
audio:not([controls]) {display:none;height:0;}
button,html [type="button"],[type="reset"],[type="submit"] {-webkit-appearance:button;}
::-webkit-file-upload-button {-webkit-appearance:button;font:inherit;}
dfn {font-style:italic;}
html {-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-overflow-scrolling:touch;}
img,video,audio {max-width:100%;max-height:100%;}

a,button,input,textarea {-webkit-tap-highlight-color:rgba(63,40,1,.3);}
html {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*,*:before,*:after {-webkit-box-sizing:inherit;-moz-box-sizing:inherit;box-sizing:inherit;}

/*-webkit-touch-callout:none;不触发系统菜单*/
/*-webkit-user-select:none;不被选择*/
/*/-wap*/

/* -富文本需重载*/
.富文本类 em {
    font-style: italic;
}
.富文本类 ol {
    list-style-type: decimal;
    list-style-position: inside;
}
.富文本类 ul {
    list-style-type: disc;
    list-style-position: inside;
}
.富文本类 table {
    table-layout: fixed;
    text-align: center;
}
/*/-富文本需重载*/
/*/CSS reset*/

/* scss的@mixin、@function*/
@mixin inline-block($width:false, $height:false) {
    @if $width != false {
        width: $width;
    }
    @if $height != false {
        height: $height;
    }
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
@mixin left {
    float: left;
    _display: inline;
}
@mixin right {
    float: right;
    _display: inline;
}
@mixin clearfix {
    *zoom: 1;

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
@mixin bfc {
    *zoom: 1;

    &:before,
    &:after {
        content: "";
        display: table;
    }
}
@mixin ellipsis($boolean: true) {
    @if $boolean == true {
        _width: 100%;
    }
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@mixin multi-ellipsis($line-height, $line) {
    line-height: $line-height;
    height: $line-height * $line;
    display: block;
    display: -webkit-box;
    *display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
}
@mixin img-bg {
    background: url(背景图大) 颜色 center center no-repeat;
    background-image: url(背景图小)\9;
    background-size: contain;
}
/* -x+y轴排列且等大雪碧图（参数：单图宽、高、x轴图片数量、y轴图片数量、图片间距）*/
@mixin sprites-xy($width, $height, $x, $y, $gap: 2) {
    width: #{$width}px;
    height: #{$height}px;
    background-image: url(图片前缀_#{$width}x#{$height}.png);
    background-repeat: no-repeat;

    //$i：横轴；$j：纵轴
    @for $j from 1 through $y {
        @for $i from 1 through $x {
            &.i-#{$j}-#{$i} {
                background-position: #{-($width + $gap)*($i - 1)}px #{-($height + $gap)*($j - 1)}px;
            }
        }
    }
}
/*/-x+y轴排列且等大雪碧图*/
/* -不同分辨率图片*/
@mixin image($url) {
    background-image: url($url + "_x1.png");

    @media (min-resolution: 2dppx) {
        background-image: url($url + "_x2.png");
    }

    @media (min-resolution: 3dppx) {
        background-image: url($url + "_x3.png");
    }
}
/*/-不同分辨率图片*/
/* -rem*/
@function rem($px) {
    @return $px / 20 + rem;
}
@mixin multi-ellipsis-rem($line-height, $line) {
    line-height: rem($line-height);
    //max-height: rem($line-height * $line);
    height: rem($line-height * $line);
    display: block;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
}
@function position-one($positon, $singleSize, $spritesSize) {
    @if $positon == 0 {
        @return 0;
    } @else {
        @return percentage($positon / ($spritesSize - $singleSize));
    }
}
/* --x轴排列雪碧图*/
@mixin sprites-x($x: 0, $width: 单图固定宽度或0, $fullWidth: 合并图宽度) {
    background-image: url(图片);
    background-position: position-one($x, $width, $fullWidth) 0;
    background-size: rem($fullWidth) auto;
    background-repeat: no-repeat;
}
/*/--x轴排列雪碧图*/
/* --y轴排列雪碧图*/
@mixin sprites-y($y: 0, $height: 单图固定高度或0, $fullHeight: 合并图高度) {
    background-image: url(图片);
    background-position: 0 position-one($y, $height, $fullHeight);
    background-size: auto rem($fullHeight);
    background-repeat: no-repeat;
}
/*/--y轴排列雪碧图*/
/* --x+y轴排列且等大雪碧图（参数：单图宽、高、x轴图片数量、y轴图片数量、图片间距）*/
@mixin sprites-xy($width, $height, $x, $y, $gap: 2) {
    width: rem($width);
    height: rem($height);
    background-image: url(图片前缀_#{$width}x#{$height}.png);
    background-size: rem(($width + $gap)*$x - $gap) rem(($height + $gap)*$y - $gap);
    background-repeat: no-repeat;

    //$i：横轴；$j：纵轴
    @for $j from 1 through $y {
        @for $i from 1 through $x {
            &.i-#{$j}-#{$i} {
                background-position: position-one(($width + $gap)*($i - 1), $width, ($width + $gap)*$x - $gap) position-one(($height + $gap)*($j - 1), $height, ($height + $gap)*$y - $gap);
            }
        }
    }
}
/*/--x+y轴排列且等大雪碧图*/
/*/-rem*/
/*/scss的@mixin、@function*/

/* 全局*/
html, body {
    /*height: 100%;*/
}
html {
    _overflow-x: hidden;
}
body {
    background-color: #fff;
    color: #333;
    min-width: 最小宽度;
    position: relative;
    @include bfc;
}
a {
    color: #333;
}
a:hover {
    text-decoration: none;
}
/*/全局*/

/* wap媒体查询（320px~640px），最大width:32rem;*/
@media (max-width: 351px) {
    html {font-size: 10px;}
}
@media (min-width: 352px) and (max-width: 383px) {
    html {font-size: 11px;}
}
@media (min-width: 384px) and (max-width: 415px) {
    html {font-size: 12px;}
}
@media (min-width: 416px) and (max-width: 447px) {
    html {font-size: 13px;}
}
@media (min-width: 448px) and (max-width: 479px) {
    html {font-size: 14px;}
}
@media (min-width: 480px) and (max-width: 511px) {
    html {font-size: 15px;}
}
@media (min-width: 512px) and (max-width: 543px) {
    html {font-size: 16px;}
}
@media (min-width: 544px) and (max-width: 575px) {
    html {font-size: 17px;}
}
@media (min-width: 576px) and (max-width: 607px) {
    html {font-size: 18px;}
}
@media (min-width: 608px) and (max-width: 639px) {
    html {font-size: 19px;}
}
@media (min-width: 640px) {
    html {font-size: 20px;}
}
/*/wap媒体查询*/
/* pc媒体查询（980px~1920px），最大width:49rem;*/
@media (max-width: 1028px) {
    html {font-size: 20px;}
}
@media (min-width: 1029px) and (max-width: 1077px) {
    html {font-size: 21px;}
}
@media (min-width: 1078px) and (max-width: 1126px) {
    html {font-size: 22px;}
}
@media (min-width: 1127px) and (max-width: 1175px) {
    html {font-size: 23px;}
}
@media (min-width: 1176px) and (max-width: 1224px) {
    html {font-size: 24px;}
}
@media (min-width: 1225px) and (max-width: 1273px) {
    html {font-size: 25px;}
}
@media (min-width: 1274px) and (max-width: 1322px) {
    html {font-size: 26px;}
}
@media (min-width: 1323px) and (max-width: 1371px) {
    html {font-size: 27px;}
}
@media (min-width: 1372px) and (max-width: 1420px) {
    html {font-size: 28px;}
}
@media (min-width: 1421px) and (max-width: 1469px) {
    html {font-size: 29px;}
}
@media (min-width: 1470px) and (max-width: 1518px) {
    html {font-size: 30px;}
}
@media (min-width: 1519px) and (max-width: 1567px) {
    html {font-size: 31px;}
}
@media (min-width: 1568px) and (max-width: 1616px) {
    html {font-size: 32px;}
}
@media (min-width: 1617px) and (max-width: 1665px) {
    html {font-size: 33px;}
}
@media (min-width: 1666px) and (max-width: 1714px) {
    html {font-size: 34px;}
}
@media (min-width: 1715px) and (max-width: 1763px) {
    html {font-size: 35px;}
}
@media (min-width: 1764px) and (max-width: 1812px) {
    html {font-size: 36px;}
}
@media (min-width: 1813px) and (max-width: 1861px) {
    html {font-size: 37px;}
}
@media (min-width: 1862px) and (max-width: 1910px) {
    html {font-size: 38px;}
}
@media (min-width: 1911px) {
    html {font-size: 39px;}
}
/*/pc媒体查询*/

/* 布局*/
.full-bg {
    background: center top no-repeat;
    min-width: 最小宽度;
    _width: 100%;
    overflow: hidden;

    .full-wrap {
        width: 最小宽度;
        margin: 0 auto;
        position: relative;

        &:before,
        &:after {
            content: "";
            display: table;
        }
    }
}
/*/布局*/