/* 补充KS的reset*/
html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,img,dl,dt,dd,ul,ol,li,nav,footer,header,
form,input,textarea,video,audio,iframe,button,pre,code,blockquote,q,
fieldset,legend,caption,object,article,aside,details,figcaption,figure,hgroup,menu,section {margin:0;padding:0;border:0;font-size:100%;}
body,button,input,select,textarea {font:14px/1.4286 "microsoft yahei",simsun,tahoma,arial,sans-serif;}
table,tbody,tfoot,thead,tr,th,td {padding:0;}
i,time {font-style:normal;font-weight:500;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:'';content:none;}
hr {display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
button,textarea,:focus {outline:none;}
img,video,audio {max-width:100%;}
/*/补充KS的reset*/

/* 覆盖原框架*/
.my_topbar {
    position: relative;
    z-index: 1;
}
.part_bgcover {
    position: absolute;
    background: url(../images/bg_spread.png) repeat-x;
    left: 0;
    right: 0;
    top: 250px;
    _width: 100%;
    height: 340px;
    z-index: 0;
}
/*/覆盖原框架*/